<form th:fragment="main-form(config)" id="main-form">
  <!--/*@thymesVar id="config" type="org.vniizht.appforge.entities.MainFormConfig"*/-->
  <th:block th:each="sectionEntry : ${config.sectionsMap}"
            th:with="key = ${sectionEntry.key}, section = ${sectionEntry.value}">
    <div class="section" th:key="${key}">
      <p th:text="${section.title}"></p>
      <div>
        <th:block th:each="fieldEntry : ${section.fieldsMap}"
                  th:with="key = ${fieldEntry.key}, field = ${fieldEntry.value}">
          <!--/*@thymesVar id="field" type="org.vniizht.appforge.entities.FormSectionConfig.Field"*/-->
          <div th:class="${field.type}+' field'" th:key="${key}">
            <th:block th:if="${field.type} == 'select'">
              <!--/*@thymesVar id="field" type="org.vniizht.appforge.entities.FormSectionConfig.Select"*/-->
              <th:block th:with="content = ${field.content}">
                <static th:if="${content.staticMap}" th:text="${content.staticMap}">
                </static>

                <dynamic th:if="${content.dynamicMap}">
                  <subscribes th:text="${content.dynamicMap.subscribeOnFields}"></subscribes>
                  <url th:text="${content.dynamicMap.sourceUrl}"></url>
                </dynamic>

                <carriers th:if="${content.serviceBankCarriers}"
                          th:with="carriers = ${content.serviceBankCarriers}">
                  <subscribes>
                    <date th:text="${carriers.subscribeOnDate}"></date>
                  </subscribes>
                  <extra th:text="${carriers.extraProperties}"></extra>
                </carriers>

                <countries th:if="${content.serviceBankCountries}"
                           th:with="countries = ${content.serviceBankCountries}">
                  <subscribes>
                    <date th:text="${countries.subscribeOnDate}"></date>
                  </subscribes>
                  <extra th:text="${countries.extraProperties}"></extra>
                </countries>

                <roads th:if="${content.serviceBankRoads}"
                       th:with="roads = ${content.serviceBankRoads}">
                  <subscribes>
                    <date th:text="${roads.subscribeOnDate}"></date>
                    <countries th:text="${roads.subscribeOnCountries}"></countries>
                  </subscribes>
                  <extra th:text="${roads.extraProperties}"></extra>
                </roads>

                <stations th:if="${content.serviceBankStations}"
                          th:with="stations = ${content.serviceBankStations}">
                  <subscribes>
                    <date th:text="${stations.subscribeOnDate}"></date>
                    <roads th:text="${stations.subscribeOnRoads}"></roads>
                  </subscribes>
                  <extra th:text="${stations.extraProperties}"></extra>
                </stations>

              </th:block>
            </th:block>
          </div>
        </th:block>
      </div>
    </div>
  </th:block>
</form>