<form th:fragment="main-form(config)" id="main-form">
    <!--/*@thymesVar id="config" type="org.vniizht.appforge.entities.AppConfig.MainForm"*/-->
  <th:block th:each="sectionItem : ${config.sectionsMap}"
            th:with="key = ${sectionItem.key}, section = ${sectionItem.value}">
    <div th:class="${section.type.toLowerCase()}+' section'" th:key="${key}">
      <p th:text="${section.title}"></p>
      <th:block th:switch="${section.type}">
        <div th:case="PERIOD">
          <div class="period field"></div>
        </div>
        <div th:case="CARRIER">
          <div class="carriers select"></div>
        </div>
        <div th:case="WAYPOINT">
          <div class="countries select"></div>
          <div class="roads select"></div>
          <div class="stations select"></div>
        </div>
        <div th:case="SHIPMENT">
          <div class="shipment-type select"></div>
          <div class="transfer-type select"></div>
          <div class="extras select"></div>
        </div>
      </th:block>
    </div>
  </th:block>
</form>