<header th:fragment="header(appInfo, group, name)" id="header">
    <!--/*@thymesVar id="appInfo" type="org.vniizht.appforge.entities.AppInfo"*/-->
    <!--/*@thymesVar id="group" type="org.vniizht.appforge.entities.AppConfig.AppGroup"*/-->
    <th:block th:if="${group} != null">
        <a th:href="${group.url}"
           th:text="${group.name}"></a>
        |
    </th:block>
    <p th:text="${name}"></p>
    <button title="Сброс"
            class="frameless reset">
      <img src="./img/reset.svg" alt="">
    </button>
    <button title="Информация о приложении"
            class="frameless info"
            th:attr="
            version = ${appInfo.version},
            update-date = ${appInfo.updateDate},
            technologist-name = ${appInfo.technologistName}">
      <img src="./img/info.svg" alt="">
    </button>
    <button title="Руководство пользователя"
            class="frameless help"
            th:attr="instruction-path = ${appInfo.instructionPath}">
      <img src="./img/help.svg" alt="">
    </button>

</header>