<header th:fragment="header(appGroup, appName)" id="header">
    <th:block th:if="${appGroup} != null">
        <!--/*@thymesVar id="appGroup" type="org.vniizht.appforge.entities.AppConfig.AppGroup"*/-->
        <href th:text=""></href>
        <a th:href="${appGroup.url}"
           th:text="${appGroup.name}"></a>
        |
    </th:block>
    <p th:text="${appName}"></p>
    <button title="Сброс"
            class="reset">
      <img src="./img/reset.svg" alt="">
    </button>
    <button title="Информация о приложении"
            class="info">
      <img src="./img/info.svg" alt="">
    </button>
    <button title="Руководство пользователя"
            class="help">
      <img src="./img/help.svg" alt="">
    </button>

</header>