<header th:fragment="header(appGroup, appName, imagesUrl, scriptsUrl)" id="header">
    <th:block th:if="${appGroup} != null">
        <!--/*@thymesVar id="appGroup" type="org.vniizht.appforge.entity.AppConfig.AppGroup"*/-->
        <href th:text=""></href>
        <a th:href="${appGroup.url}"
           th:text="${appGroup.name}"></a>
        |
    </th:block>
    <p th:text="${appName}"></p>
    <button title="Сброс"
            class="reset">
      <img th:src="${imagesUrl+'/reset.svg'}" alt="">
    </button>
    <button title="Информация о приложении"
            class="info">
      <img th:src="${imagesUrl+'/info.svg'}" alt="">
    </button>
    <button title="Руководство пользователя"
            class="help">
      <img th:src="${imagesUrl+'/help.svg'}" alt="">
    </button>

    <script type="module" th:src="${scriptsUrl+'/header.js'}"></script>
</header>