<form th:fragment="main-form(config)" id="main-form">
  <!--/*@thymesVar id="config" type="org.vniizht.appforge.entities.MainFormConfig"*/-->
  <th:block th:each="sectionEntry : ${config.sectionsMap}"
            th:with="key = ${sectionEntry.key}, section = ${sectionEntry.value}">
    <div class="section" th:key="${key}">
      <p th:text="${section.title}"></p>
      <div>
        <th:block th:each="fieldEntry : ${section.fieldsMap}"
                  th:with="key = ${fieldEntry.key}, field = ${fieldEntry.value}">
          <!--/*@thymesVar id="field" type="org.vniizht.appforge.entities.FormSectionConfig.Field"*/-->
          <div th:class="${field.type}+' field'" th:key="${key}">

            <th:block th:switch="${field.type}">
              <!--/*@thymesVar id="field" type="org.vniizht.appforge.entities.FormSectionConfig.CheckBox"*/-->
              <config th:case="'checkbox'"
                      th:attr="label = ${field.label}">
              </config>

              <!--/*@thymesVar id="field" type="org.vniizht.appforge.entities.FormSectionConfig.Date"*/-->
              <config th:case="'date'"
                      th:attr="max-days = ${field.maxDays}">
                <default th:text="${field.default}"></default>
              </config>

              <!--/*@thymesVar id="field" type="org.vniizht.appforge.entities.FormSectionConfig.Select"*/-->
              <config th:case="'select'"
                      th:with="content = ${field.content}"
                      th:attr="
                      show-codes = ${field.showCodes},
                      search = ${field.search},
                      multiselect = ${field.multiple},
                      disable-select-all = ${field.disableSelectAll},
                      max-values = ${field.maxValues},
                      require = ${field.required}">

                <endpoint th:if="${TODO}">
                  <url th:if="${TODO}" th:text="${content.dynamicMap.sourceUrl}"></url>
                  <subscriptions th:each="fieldSource : ${content.endpointMap.subscribeToFields}">
                    <field th:text="${fieldSource}"></field>
                  </subscriptions>
                </endpoint>

                <bank th:if="${TODO}" th:type="${TODO}">
                  <subscriptions th:each="fieldSource : ${content.endpointMap.subscribeToFields}"
                                 th:switch="${type}">
                    <th:block th:case="'carriers'">
                      <date th:text="${carriers.subscribeToDate}"></date>
                    </th:block>

                    <th:block th:case="'countries'">
                      <date th:text="${countries.subscribeToDate}"></date>
                      <postsoviet th:text="${countries.subscribeToPostSovietCheckbox}"></postsoviet>
                    </th:block>

                    <th:block th:case="'roads'">
                      <date th:text="${roads.subscribeToDate}"></date>
                      <countries th:text="${roads.subscribeToCountries}"></countries>
                    </th:block>

                    <th:block th:case="'stations'">
                      <date th:text="${stations.subscribeToDate}"></date>
                      <roads th:text="${stations.subscribeToRoads}"></roads>
                    </th:block>
                  </subscriptions>
                  <extra th:text="${bank.extraProperties}"></extra>
                </bank>

                <default th:text="${field.defaultValues}"></default>
              </config>
            </th:block>
          </div>
        </th:block>
      </div>
    </div>
  </th:block>
  <script type="module" src="./app-forge/js/third-party/virtual-select.min.js"></script>
</form>