<form th:fragment="main-form(config)"
      id="main-form"
      th:attr="
      validation-path = ${config.validationPath},
      confirm-button-text = ${config.confirmButtonText}">
    <!--/*@thymesVar id="config" type="org.vniizht.appforge.model.AppConfig.MainFormConfig"*/-->
  <th:block th:each="sectionEntry : ${config.sections}"
            th:with="key = ${sectionEntry.key}, section = ${sectionEntry.value}">
      <!--/*@thymesVar id="section" type="org.vniizht.appforge.model.AppConfig.MainFormConfig.FormSectionConfig"*/-->
    <div class="section" th:key="${key}">
      <p th:text="${section.title}"></p>
      <div>
        <th:block th:each="fieldEntry : ${section.fields}"
                  th:with="key = ${fieldEntry.key}, field = ${fieldEntry.value}">
            <!--/*@thymesVar id="field" type="org.vniizht.appforge.model.AppConfig.MainFormConfig.FormSectionConfig.Field"*/-->
          <div th:class="${field.type}+' field'" th:key="${key}">
            <p th:if="${field.type} != 'checkbox'" th:text="${field.label}"></p>
            <th:block th:switch="${field.type}">
                <!--/*@thymesVar id="field" type="org.vniizht.appforge.model.AppConfig.MainFormConfig.FormSectionConfig.CheckBox"*/-->
              <config th:case="'checkbox'"
                      th:attr="label = ${field.label}">
              </config>
                <!--/*@thymesVar id="field" type="org.vniizht.appforge.model.AppConfig.MainFormConfig.FormSectionConfig.Date"*/-->
              <config th:case="'date'"
                      th:attr="max-days = ${field.maxDays}">
              </config>
                <!--/*@thymesVar id="field" type="org.vniizht.appforge.model.AppConfig.MainFormConfig.FormSectionConfig.Select"*/-->
              <config hidden="true"
                      th:case="'select'"
                      th:with="sources = ${field.optionsSource}"
                      th:attr="
                      show-codes = ${field.showCodes},
                      search = ${field.search},
                      multiselect = ${field.multiple},
                      disable-select-all = ${field.disableSelectAll},
                      max-values = ${field.maxValues}">
                <endpoint th:if="${sources.endpoint}">
                  <path th:text="${sources.endpoint.path}"></path>
                  <subscriptions th:each="fieldSource : ${sources.endpoint.subscribeToFields}">
                    <field th:text="${fieldSource}"></field>
                  </subscriptions>
                </endpoint>
                <bank th:with="bank = ${sources.serviceBank}"
                      th:if="${sources.serviceBank}"
                      th:type="${bank.type}">
                  <subscriptions th:switch="${bank.type}">
                    <th:block th:case="'carriers'">
                      <!--/*@thymesVar id="bank" type="org.vniizht.appforge.model.AppConfig.MainFormConfig.FormSectionConfig.Select.OptionsSource.ServiceBankCarriers"*/-->
                      <date th:text="${bank.subscribeToDate}"></date>
                    </th:block>
                    <th:block th:case="'countries'">
                      <!--/*@thymesVar id="bank" type="org.vniizht.appforge.model.AppConfig.MainFormConfig.FormSectionConfig.Select.OptionsSource.ServiceBankCountries"*/-->
                      <date th:text="${bank.subscribeToDate}"></date>
                      <postsoviet th:text="${bank.subscribeToPostSovietCheckbox}"></postsoviet>
                    </th:block>
                    <th:block th:case="'roads'">
                      <!--/*@thymesVar id="bank" type="org.vniizht.appforge.model.AppConfig.MainFormConfig.FormSectionConfig.Select.OptionsSource.ServiceBankRoads"*/-->
                      <date th:text="${bank.subscribeToDate}"></date>
                      <countries th:text="${bank.subscribeToCountries}"></countries>
                    </th:block>
                    <th:block th:case="'stations'">
                      <!--/*@thymesVar id="bank" type="org.vniizht.appforge.model.AppConfig.MainFormConfig.FormSectionConfig.Select.OptionsSource.ServiceBankStations"*/-->
                      <date th:text="${bank.subscribeToDate}"></date>
                      <roads th:text="${bank.subscribeToRoads}"></roads>
                    </th:block>
                  </subscriptions>
                  <extra th:text="${bank.extraProperties}"></extra>
                </bank>
              </config>
            </th:block>
          </div>
        </th:block>
      </div>
    </div>
  </th:block>
  <script type="module" src="/appforge/js/third-party/virtual-select.min.js"></script>
</form>