:root{
    --form-cell-width: 360px;
    --form-cell-height: 80px;
}

form {
    display: grid;
    grid-gap: var(--indent);
    margin: 0 var(--indent);
    padding: var(--indent);
    border-radius: var(--outer-border-radius);
}

form .section {
    display: flex;
    flex-wrap: wrap;
    grid-gap: var(--indent);
}

form .section > p {
    display: flex;
    align-items: end;
    height: var(--form-cell-height);
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

form .field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--form-cell-height);
    width: var(--form-cell-width);
    border-radius: var(--border-radius);
    grid-column: span 2;
}

form .field > p {
    margin: 0 0 var(--light-indent) 0;
    white-space: nowrap;
    font-weight: normal;
    font-size: 18px;
}
form .field > p:empty {
    margin: 0;
}

form .field > label:empty {
    width: 1px;
}

form button.submit{
    justify-self: end;
    white-space: nowrap;
    align-self: end;
}

form .field.wrong :is(.multiselect){
    outline: thin solid var(--negative-color);
}