form.horizontal {
    display: grid;
    grid-gap: var(--strong-indent);
}

form.vertical {
    display: flex;
    grid-gap: 45px;
}

form .section {
    display: grid;
    align-items: start;
    background: white;
    grid-gap: var(--indent);
}

form .section > p {
    text-align: center;
    font-weight: bold;
    margin: var(--light-indent);
}

form .field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70px;
    min-width: 0;
    border-radius: var(--border-radius);
}

form .field > p {
    margin: 0 0 var(--light-indent) 0;
    font-weight: bold;
}
form .field > p:empty {
    margin: 0;
}

form .field > label:empty {
    width: 1px;
}

form button.confirm{
    justify-self: end;
    white-space: nowrap;
    align-self: end;
}

.field.wrong :is(.multiselect){
    outline: thin solid var(--negative-color);
}