@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
	--primary-color: #003466;
	--secondary-color: #d2e0fa;
	--solid-color: whitesmoke;
	--positive-color: forestgreen;
	--negative-color: red;
	--border: thin solid steelblue;
	--light-border: thin solid lightsteelblue;
	--indent: 10px;
	--light-indent: 5px;
	--strong-indent: 15px;
	--border-radius: calc(var(--indent)/2);
	--outer-border-radius: var(--indent);
	--shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.3);
	--light-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
	--inner-shadow: inset var(--shadow);
	
	accent-color: var(--primary-color);
}

*{
	font-family: Roboto;
}

body {
	display: grid;
	align-content: start;
  row-gap: calc(var(--indent) * 3);
	margin: var(--indent);
	margin-bottom: 50vh;
	min-height: 100vh;
	background-color: #E9F3FF;
}

li{
	text-align: left;
}

*::-webkit-scrollbar {
  width: calc(var(--indent)/2);
}

*::-webkit-scrollbar-thumb {    
	border-radius: calc(var(--indent)/2);
  background: lightgray;
}