#header {
  display: flex;
  align-items: center;
  left: 0;
}

#header a{
  text-decoration: none;
}

#header p{
  margin-right: auto;
  margin-left: var(--indent);
}

#header button{
  width: 25px;
  height: 25px;
  margin: var(--indent);
}