/* COMMONS */
input, button{
    padding: var(--indent);
    color: var(--primary-color);
    border-radius: var(--border-radius);
    border: var(--border);
}

input[type=date],
input[type=text]{cursor: text;}

input[type=text]{
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 100px;
}input[type=text]:focus{
    outline: 0;
}
.textbox input[type=text]{
    height: 100%;
    width: 100%;
}

/* BUTTONS */
:is(option, button){ cursor: pointer; }
button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
button:is(.affirmative, .negative){
    color: white;
}
button.affirmative{
    background: var(--primary-color);
}
button.negative{
    background: var(--negative-color);
    border-color: var(--negative-color);
}
:is(option, button):hover  {
    filter: contrast(85%)
}
:is(option, button):active {
    filter: contrast(60%)
}

/* MULTISELECT */
.multiselect {
    display: grid;
    padding: 0;
    max-height: 30vh;
    border: var(--border);
}
.multiselect:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.multiselect .textbox{
    border: 0;
    border-radius: calc(var(--border-radius) + 2px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: none;
}
.multiselect:hover .textbox{
    z-index: 10;
    background: inherit;
}
.multiselect .buttons{
    user-select: none;
    pointer-events: none;
    z-index: 1;
    display: flex;
    opacity: 0;
    padding: 0;
    height: 0;
    border: 0;
    border-radius: 0;
}
.multiselect:hover .buttons{
    user-select: auto;
    pointer-events: auto;
    opacity: 1;
    height: 30px;
    box-shadow: var(--shadow);
    padding-bottom: var(--indent);
}
.multiselect button{
    height: 30px;
    margin: 0 var(--indent);
}
.multiselect button:last-of-type{
    margin-left: auto;
}

.multiselect menu{
    z-index: 1;
    user-select: none;
    pointer-events: none;
    display: grid;
    padding: 0 var(--indent);
    margin: 0;
    max-height: 100%;
    height: max-content;
    background: white;
    overflow-y: auto;
    border-top: 0;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.multiselect:hover menu{
    user-select: auto;
    pointer-events: auto;
    z-index: 2;
    max-height: 80vh;
    box-shadow: var(--shadow);
}

.multiselect option{
    opacity: 0;
    padding: 0;
    margin: 0;
    height: 0;
    font-size: 0;
    text-align: center;
    background: var(--solid-color);
    transform: translateX(-100%);
}
.multiselect:hover option,
.multiselect option.selected{   
    opacity: 1;
    padding: calc(var(--indent)/2);
    font-size: medium;
    height: auto;
    transform: translateX(0);
    margin-bottom: var(--indent);
    border-radius: calc(var(--border-radius)/2);
}
.multiselect option.selected{
    color: var(--primary-color);
    background: var(--secondary-color);
}
