#main-form {
    display: flex;
    justify-self: start;
    flex-wrap: wrap;
}

#main-form .section {
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin: var(--light-indent);
    padding: var(--indent);
    background: white;
    border-radius: var(--border-radius);
}

#main-form .section >p {
    text-align: center;
    font-weight: bold;
    margin: var(--light-indent);
}

#main-form .field {
    display: flex;
   width: 100%;
    margin-top: var(--indent); 
}


#main-form .field > p {
    margin: auto 0;
    margin-right: var(--indent);
}
#main-form .field > p:empty {
    margin: 0;
}

#main-form .field > div {
    margin-left: auto;
    display: flex;
}

#main-form .field > label:empty {
    width: 1px;
}

#main-form .field > label {
/*     font-size: smaller; */
    z-index: 10;
    width: 100px;
    color: var(--negative-color);
/*     width: 0;
    transform: translateX(-100px); */
}

#main-form .field.checkbox > div{
    margin-left: 0;
}

#main-form .field.checkbox input{
    
    margin: 0;
    margin-right: var(--indent);
}
#main-form .field.checkbox :is(input, label){
    cursor: pointer;
}

#main-form .field.date .datepicker{
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    border: var(--light-border);
    color: var(--primary-color);
    padding: 8px;
    text-align: center;
}
#main-form .field.select .vscomp-ele {
    min-width: 200px;
}
#main-form .field.select .vscomp-ele:not([disabled]) .vscomp-toggle-button {
    border: var(--light-border);
    color: var(--primary-color);
}