.fix {
    position: fixed;
    z-index: 64;
    box-shadow: var(--shadow);
}
.fix.top    { top:    var(--strong-indent) }
.fix.bottom { bottom: var(--strong-indent) }
.fix.left   { left:   var(--strong-indent) }
.fix.right  { right:  var(--strong-indent) }

.fix.framed {
    flex-wrap: wrap;
    color: var(--primary-color);
    padding: var(--indent);
    background: var(--secondary-color);
    border: 5px solid var(--primary-color);
    border-radius: var(--border-radius);
}


.loader {
  height: 2em;
  width: 2em;
}

.loader-path {
    fill: none;
    stroke: var(--primary-color);
    stroke-width: 10%;
    stroke-linecap: round;
    animation: animate-stroke 1.5s ease-in-out infinite;
}

.circular-loader {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-stroke {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}