:root{
  --tab-size: 45px;
}

.nav-container{
  margin: 0 var(--indent);
  background: white;
  border-radius: var(--outer-border-radius);
  box-shadow: var(--light-shadow);
}

.nav-container > .nav-bar{
  display: flex;
  padding: var(--light-indent);
  padding-bottom: 0;
  border-bottom: var(--light-indent) solid var(--primary-color);
}
.nav-container > .nav-bar > .tab{
  padding: 0 calc(var(--tab-size)/2);
  height: calc(var(--tab-size) - var(--light-indent));
  border: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: transparent;
  transition: 0.3s;
}
.nav-container > .nav-bar > .tab.active{
  background: var(--primary-color);
  padding-top: var(--light-indent);
  color: white;
}

.nav-container > .nav-body{
  padding: var(--indent);
}

.nav-pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-pages .pages {
    display: flex;
   padding: var(--light-indent) 0;
    margin: 0 var(--light-indent);
    overflow-x: auto;
}
.nav-pages .pages button {
    font-size: 14px;
    margin: 0;
  
    font-weight: normal;
}

.nav-pages .pages button:is(:first-of-type, :last-of-type) {
    font-size: x-large;
}

.nav-pages .pages button.active {
    color: white;
    background: var(--primary-color);
    font-weight: bold;
}

.nav-pages .context{
    white-space: nowrap;
}