:root{
  --tab-size: 45px;
}

.nav-container{
  margin: 0 var(--indent);
  background: white;
  border-radius: var(--outer-border-radius);
  box-shadow: var(--light-shadow);
}

.nav-container > .nav-bar{
  display: flex;
  padding: var(--light-indent);
  padding-bottom: 0;
  border-bottom: var(--light-indent) solid var(--primary-color);
}
.nav-container > .nav-bar > .tab{
  padding: 0 calc(var(--tab-size)/2);
  padding-top: var(--light-indent);
  height: calc(var(--tab-size) - var(--light-indent));
  border: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: transparent;
}
.nav-container > .nav-bar > .tab.active{
  background: var(--primary-color);
  color: white;
}

.nav-container > .nav-body{
  padding: var(--indent);
}