:root{
    --report-header-height: 35px;
}

.report {
    margin: 0 var(--indent);
    min-height: var(--report-header-height);
    background: white;
    height: min-content;
    border-radius: var(--outer-border-radius);
}

.modal .report{
    padding-top: 1px;
    width: 95vw;
    max-height: 95vh;
}
.report .head {
    display:flex;
    height: var(--report-header-height);
    align-items: center;
    padding: var(--indent);
    margin: var(--indent);
    padding-left: calc(var(--report-header-height)/2);
    border-radius: var(--border-radius);
}
.report .head:not(:last-child){
    background: var(--solid-color);
}
.report .head h3 {
    font-size: 22px;
    margin: auto auto auto 0;
}

.report .body{
    display: grid;
}

.report .context{
    display: flex;
    width: max-content;
    flex-direction: column;
    margin: 0 var(--indent);
    padding: 0 var(--indent);
    line-height: calc(var(--report-header-height)/1.5);
}

.report button{
    height: var(--report-header-height);
    width: var(--report-header-height);
    margin-left: var(--indent);
    background: white;
    border: 0;
}
.report button:first-of-type{

    margin-left: 0;
}