:root{
    --report-header-height: 35px;
}

.report {
    margin: 0 var(--indent);
    min-height: var(--report-header-height);
    background: white;
    height: min-content;
    border-radius: var(--outer-border-radius);
}

.modal .report{
    width: 95vw;
    max-height: 95vh;
}
.report .head {
    display:flex;
    height: var(--report-header-height);
    align-items: center;
    padding: var(--indent);
    margin: var(--indent);
    padding-left: calc(var(--report-header-height)/2);
    background: var(--solid-color);
    border-radius: var(--border-radius);
    border: var(--light-border);
}
.report .head h3 {
    font-size: 22px;
    margin: auto auto auto 0;
}

.report .body{
    display: grid;
}

.report .context{
    margin: 0;
    padding: 0 calc(var(--report-header-height)/2);
    list-style-type: none;
    line-height: var(--report-header-height);
}

.report .tool-bar{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: var(--indent);
     padding: var(--indent);
    background: var(--solid-color);
    border: var(--light-border);
    border-radius: var(--border-radius);
}

.report button{
    height: var(--report-header-height);
    width: var(--report-header-height);
    margin-left: var(--indent);
    background: white;
    border: 0;
}
.report button:first-of-type{

    margin-left: 0;
}