:root{
    --report-header-height: 35px;
}

.report {
    margin: 0 var(--indent);
    min-height: var(--report-header-height);
    background: white;
    height: min-content;
    overflow-x: hidden;
    border-radius: var(--outer-border-radius);
}

.modal .report{
    width: 95vw;
    max-height: 95vh;
}
.report .head {
    display:flex;
    height: var(--report-header-height);
    align-items: center;
    padding: var(--indent);
    padding-left: calc(var(--report-header-height)/2);
}
.report .head p {
    font-size: larger;
    margin: auto auto auto 0;
}

.report .body{
    display: grid;
    grid-gap: var(--strong-indent);
}

.report .context{
    margin: 0;
    padding: 0 calc(var(--report-header-height)/2);
    list-style-type: none;
    line-height: var(--report-header-height);
}

.report button{
    height: var(--report-header-height);
    width: var(--report-header-height);
    margin-left: var(--indent);
    background: white;
    border: 0;
}

.report info.link{
    white-space: nowrap;
    font-weight: normal;
    margin: var(--indent);
    margin-top: 0;
}


/* Chart.js */
.report charts-block {
    display: grid;
    
    justify-items: center;
    
    padding: var(--indent);
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 48vh);
    
    gap: var(--indent);
    
    flex-shrink: 1;
    flex-grow: 1;
    
    background: inherit;
    border-top: var(--light-border);
}
.report chart{
    display: inline-flex;
    justify-content: center;
    min-height: auto;
    min-width: auto;
    width: 100%;
    height: 100%;
    border: var(--light-border);
    border-radius: var(--border-radius);
}