.report .table {
    margin-bottom: var(--border-radius);
    border-top: var(--light-border);
    border-bottom: var(--light-border);
    overflow: auto;
    max-height: 100vh;
}

.report:fullscreen table-container{
    overflow-y: unset;
}

.report table {
    border-spacing: 0;
}
.report :is(th, td){
    border-right: var(--light-border);
    border-top: var(--light-border);
}
.report :is(th, td).vertical-span {
    border-right: none;
}
.report :is(th, td).horizontal-span{
    border-top: none;
}

.report :is(thead, tfoot) {
    z-index: 10;
    position: sticky;
    top: -1px;
    bottom: 0;
    transition: none;
}

.report th {
    padding: 10px;
    color: white;
    width: 100vw;
    white-space: nowrap;
    font-weight: bold;
    background: var(--primary-color);
}

.report td {
    color: var(--primary-color);
    padding: var(--indent);
    text-align: center;
    vertical-align: top;
    transition: all 0.3s;
    background-color: #fff;
}

.report td.name {
    text-align: left;
}
.report td.pretty{
    padding: 0;

}
.report td.pretty square-label{
    background: inherit;
    margin: 0;
    padding: 0;
}

.report :is(tr.total td, td.total){
    font-weight: bold;
    background: var(--secondary-color);
}

.report tr.total td{
    background: var(--secondary-color);
}

.report table input[type=checkbox]{
    transform: scale(1.5);
    background-color: aqua;
}

.report table input[type=text]{
    padding: calc(var(--indent)/2);
    min-width: auto;
    /*     margin-left: auto; */
    justify-self: end;
    width: 22px;
    color: var(--primary-color);
}
.report table input[type=text]:not(:placeholder-shown){
    width: 100px;
}

.report td img{
    width: 70px;
    height: 70px;
}

.report table :is(.number, .string){
    font-family: monospace;
    font-size: large;
}

.report table .number, .report table .primary.string {
    text-align: right;
}
.report table tbody .string.string {
    text-align: left;
}
