.report .table {
    border-top: var(--border);
    margin-bottom: var(--border-radius);
    overflow: auto;
    max-height: 100vh;
}

.report:fullscreen table-container{
    overflow-y: unset;
}

.report table {
    border-spacing: 0;
}
.report :is(th, td){
    border-right: var(--light-border);
    border-top: var(--light-border);
}
.report thead tr:first-of-type :is(th, td){
    border-top: 0;
}
.report :is(th, td):last-of-type{
    border-right: 0;
}

.report :is(thead, tfoot) {
    z-index: 10;
    position: sticky;
    top: -1px;
    bottom: 0;
    transition: none;
}

.report table .tool-row td {
    padding: 0;
}


.report table .tool-bar .pages {
     padding: var(--indent) 0;
    margin: 0 var(--indent);
    overflow-x: auto;
}
.report table .pages button {
    font-size: 14px;
    margin: 0;
    font-weight: normal;
}

.report table .pages button.active {
    color: white;
    background: var(--primary-color);
    font-weight: bold;
}
.report table .pages button:is(:first-of-type, :last-of-type) {
    font-size: x-large;
}

.report table .tool-bar .context{
    white-space: nowrap;
}

.report table .filters-bar th {
    border-top: none;
    padding: var(--light-indent);
    padding-top: 0;
}
.report table .filters-bar th:empty {
    
}

.report th {
    padding: 10px;
    color: white;
    width: 100vw;
    white-space: nowrap;
    font-size: 16px;
    font-weight: normal;
    background: var(--primary-color);
}

.report td {
    color: var(--primary-color);
    padding: var(--indent);
    text-align: center;
    font-size: 14px;
    vertical-align: top;
    transition: all 0.3s;
    background-color: white;
}

.report :is(tr.total td, td.total){
    font-weight: bold;
    background: var(--secondary-color);
}

.report :is(td, th).checkbox{
    vertical-align: top;
    width: min-content;
}

.report tr.total td{
    background: var(--secondary-color);
}

.report td.link {
    cursor: pointer;
    text-decoration: underline;
}
.report :is(td.link, td.checkbox):hover {
    filter: contrast(85%);
}

.report td.labelized {
    padding: 0;
}
.report td.labelized.framed {
    border: 0;
}

.report table input[type=checkbox]{
    transform: scale(1.5);
    background-color: aqua;
}

.report table .number, .report table .primary.string {
    text-align: right;
}
.report table tbody .string.string {
    text-align: left;
}
