.report .table {
    margin-bottom: var(--border-radius);
    border-top: var(--light-border);
    border-bottom: var(--light-border);
    overflow: auto;
    max-height: 100vh;
}

.report:fullscreen table-container{
    overflow-y: unset;
}

.report table {
    border-spacing: 0;
}
.report :is(th, td){
    border-right: var(--light-border);
    border-top: var(--light-border);
}

.report :is(thead, tfoot) {
    z-index: 10;
    position: sticky;
    top: -1px;
    bottom: 0;
    transition: none;
}

.report table .tool-bar td {
    padding: 0;
}

.report table .tool-bar div {
    display: flex;
    justify-content: end;
    align-items: center;
     padding: 0 var(--indent);
}

.report table .tool-bar .pages {
     padding: var(--indent) 0;
    overflow-x: auto;
}

.report table .tool-bar button.active {
    color: white;
    background: var(--primary-color)
}
.report table .tool-bar button:is(:first-of-type, :last-of-type) {
    font-size: x-large;
}

.report table .tool-bar .context{
    white-space: nowrap;
}

.report table .filters-bar th {
    border-top: none;
    padding-top: 0;
}

.report th {
    padding: 10px;
    color: white;
    width: 100vw;
    white-space: nowrap;
    font-weight: bold;
    background: var(--primary-color);
}

.report td {
    color: var(--primary-color);
    padding: var(--indent);
    text-align: center;
    vertical-align: top;
    transition: all 0.3s;
    background-color: #fff;
}

.report :is(tr.total td, td.total){
    font-weight: bold;
    background: var(--secondary-color);
}

.report :is(td, th).checkbox{
    width: min-content;
}

.report tr.total td{
    background: var(--secondary-color);
}

.report table input[type=checkbox]{
    transform: scale(1.5);
    background-color: aqua;
}

.report table :is(.number, .string){
    font-family: monospace;
    font-size: large;
}

.report table .number, .report table .primary.string {
    text-align: right;
}
.report table tbody .string.string {
    text-align: left;
}
