<!DOCTYPE html>
<html lang="en">
<script>
    const config = {
        "code": "SUBURB",
        // "code": "CORRESPWEB",
        "form": {
            "sections": {
                "period": {
                    "title": "Период продажи",
                    "fields": {
                        "range": {
                            "label": "date",
                            "type": "date"
                        }
                    }
                },
                "check": {
                    "title": "Чекбокс",
                    "fields": {
                        "checkbox": {
                            "label": "checkbox",
                            "type": "checkbox"
                        }
                    }
                }
            }
        },
        "reportSlots": {
            "mainReport": {
                "title": "Отчёт",
                "path": "777"
            }
        },
        "info": {
            "updateDate": "28-00-2023",
            "additional": "От ИВЦ все запросы — через ЕСПП"
        }
    }
</script>
<script type="module" src="./js/build/debug.js">
</script>
</html>