<!DOCTYPE html>
<html lang="en">
<script>
    const config = {
        "name": "Пригород",
        "code": "SUBURB",
        "title": "Debug",
        "mainForm": {
            "sections": {
                "period": {
                    "title": "Период продажи",
                    "fields": {
                        "range": {
                            "type": "date"
                        }
                    }
                }
            }
        },
        "reportSlots": {
            "mainReport": {
                "title": "Отчёт",
                "path": "777"
            }
        }
    }
</script>
<script type="module" src="./js/build/debug.js">
</script>
</html>