<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${config.titleName}"></title>
    <link rel="stylesheet" th:href="${stylesUrl+'/root.css'}">
</head>
<body>
    <header th:replace="fragments/header.html :: header(
            appName = ${config.appName},
            imagesUrl = ${imagesUrl})">
    </header>

    <form th:if="${config.mainForm}"
          th:replace="fragments/main-form/main-form.html :: index(
          config = ${config.mainForm},
          stylesUrl = ${stylesUrl+'/main-form'},
          scriptsUrl = ${scriptsUrl+'/main-form'}
          )">
    </form>

    <th:block th:each="report : ${config.reports}">
        <div th:text="${report.title}"></div>
    </th:block>
</body>
<script th:src="${scriptsUrl+'/index.js'}"></script>
</html>