<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${config.title}"></title>
</head>
<body>
    <th:block th:insert="fragments/header :: header(
                appInfo = ${appInfo},
                group = ${config.group},
                name = ${config.name}
                )">
    </th:block>

    <div id="select"></div>

    <th:block th:if="${config.mainForm != null}">
        <th:block th:insert="fragments/main-form :: main-form(
                config = ${config.mainForm}
                )">
        </th:block>
    </th:block>

    <th:block th:each="reportSlotItem : ${config.reportSlots}"
              th:with="key = ${reportSlotItem.key}, slot = ${reportSlotItem.value}">
        <div th:class="${slot.isModal ? 'modal ' : ''}+'report'"
             th:attr="
             key = ${key},
             path = ${config.reportPath + '/' + key}">
            <div class="head">
                <p th:text="${slot.title}"></p>
                <div class="buttons">
                </div>
            </div>
            <div class="body">
            </div>
        </div>
    </th:block>
</body>
<script type="module" src="./js/build/index.js"></script>
</html>