.report table-container {
    overflow-y: hidden;
    margin-bottom: var(--border-radius);
    border-bottom: var(--light-border);
}
.report :is(table-container.scrollable, table-container.windowed) { overflow-y: auto }
.report table-container.scrollable{
    max-height: 100vh;
}
.report:fullscreen table-container{
    overflow-y: unset;
}
.report:not(:fullscreen) table-container.windowed{
    max-height: calc(95vh - 50px);
    max-width: 95vw;
}

.report table {
    border-spacing: 0;
}
.report :is(th, td){
    border-right: var(--light-border);
    border-top: var(--light-border);
}

.report:not(:fullscreen) thead {
    z-index: 10;
    position: sticky;
    top: 0;
    transition: none;
    box-shadow: var(--shadow);
}

.report th {
    padding: 10px;
    color: white;
    width: 100vw;
    font-weight: bold;
    background: var(--primary-color);
}

.report tr td.page{
    user-select: none;
    cursor: pointer;
}

.report :is(tr.total td, tr td.page){
    font-weight: bold;
    background: var(--secondary-color);
}

.report tr td.group{
    vertical-align: top;
}

.report tr.total td.group button{
    padding: 0;
    margin-left: 85%;
    right: 0;
    background: none;
    border: none;
}

.report td {
    color: var(--primary-color);
    padding: var(--indent) calc(var(--indent)/2);
    text-align: center;
    transition: all 0.3s;
    background-color: #fff;
}
.report td.name {
    text-align: left;
}
.report td.pretty{
    padding: 0;

}
.report td.pretty square-label{
    background: inherit;
    margin: 0;
    padding: 0;
}
.report td.labeled{
    margin: calc(var(--indent) / 2) var(--indent);
}

.report table input[type=checkbox]{
    transform: scale(1.5);
    background-color: aqua;
}

.report table div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.report table div name{
    margin-right: auto;
}

.report table input[type=text]{
    padding: calc(var(--indent)/2);
    min-width: auto;
    /*     margin-left: auto; */
    justify-self: end;
    width: 22px;
    color: var(--primary-color);
}
.report table input[type=text]:not(:placeholder-shown){
    width: 100px;
}

.report td img{
    width: 70px;
    height: 70px;
}